<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lirunhao.mapper.GoodsMapper">
	<select id="queryAll" resultType="com.lirunhao.beans.Goods">
		SELECT g.*,t.cname FROM goods g , type t 
		where g.tid=t.tid
	</select>
	<select id="queryType" resultType="com.lirunhao.beans.Type">
		select * from type
	</select>
	<insert id="addGoods" parameterType="com.lirunhao.beans.Goods">
		insert into goods
		(name,datea,tid,price,status)
		values
		(#{name},#{datea},#{tid},#{price},#{status})
	</insert>
	<select id="queryGoodsById" parameterType="com.lirunhao.beans.Goods">
		select * from goods where gid=#{0}
	</select>
	<update id="updateGoods" parameterType="com.lirunhao.beans.Goods">
		update goods set
		(name=#{name},datea=#{datea},tid=#{tid},price=#{price},status=#{status})
		where id=#{id}
	</update>
	<delete id="deleteGoods" parameterType="string">
		delete from goods where id in(${_parameter})
	</delete>
		
</mapper>